<%= render "shared/header" %>
<div class='main'>

</div>
<%= render "shared/footer" %>

<!-- 冷蔵庫ボタン -->
<a href="#">
  <div class='refrigerator-btn'>
    <%= image_tag 'refrigerator.png' , size: '200x60' ,class: "refrigerator-btn-icon" %>
    <span class='refrigerator-btn-text'>冷蔵庫へ</span>
  </div>
</a>
