
.footer {
  width: 100vw;
  padding: 3vh 0;
  color: #FFF;
  background-color: #CC6633;
  text-align: center;
  height: 140px;
  position: absolute;
  bottom: 0;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}