<%= link_to refrigerator_path(current_user.id) do %>
  <div class='refrigerator-btn'>
    <%= image_tag 'refrigerator.png' , size: '200x60' ,class: "refrigerator-btn-icon" %>
    <span class='refrigerator-btn-text'>冷蔵庫へ</span>
  </div>
<% end %>
