<% if current_user.refrigerator %>
  <%= link_to edit_refrigerator_path(current_user.refrigerator.id) do %>
    <div class='refrigerator-btn'>
      <%= image_tag 'refrigerator.png' , size: '200x60' ,class: "refrigerator-btn-icon" %>
      <span class='refrigerator-btn-text'>冷蔵庫へ</span>
    </div>
  <% end %>
<% else %>
  <%= link_to new_refrigerator_path do %>
    <div class='refrigerator-btn'>
      <%= image_tag 'refrigerator.png' , size: '200x60' ,class: "refrigerator-btn-icon" %>
      <span class='refrigerator-btn-text'>冷蔵庫へ</span>
    </div>
  <% end %>
<% end %>
