/* border-bottom: 1px solid #eee; */

* {
  box-sizing: border-box;
}

.recipes-add-contents {
  background-color: #FFEFD5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.recipes-add-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 5vh 5vw;
}

.recipes-add-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #CC6633;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 50%;
  background-color: #f5f5f5;
  padding-left: 10px;
  margin: 2vh 0;
}

/* スピンボタン */
.num-field {
  height: 30px;
  width: 15%;
  padding-left: 1vw;
}

.form-btn{
  height: 30px;
  width: 15%;
  margin: 2vh 0;
  background: red;
  color: #fff;
  cursor: pointer;
  border-radius:6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn>p{
  font-size: 15px;
}

/* 項目用のパーツ */
.input-form{
  width: 100%;
  padding: 0.5vh 0.5vw;
  display: flex;
  flex-direction: column;
}

/* 単位 */
.unit{
  height: 30px;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
}

/* 縦並び */
.vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 横並び */
.side-by-side{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

/* /共通 */

/* 料理名と料理画像 */

.container{
  padding: 2vh 0;
  display: flex;
  justify-content: center;
}

.form{
  width: 70%;
  padding: 2vh 0;
  border: 1px solid black;
  border-radius:6px;
}

.name{
  margin-bottom: 2vh;
}

.recipes-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.blank{
  width: 50%;
}

.calorie, .time{
  padding-left: 3vw;
  width: 25%;
}

.calorie>.side-by-side, .time>.side-by-side{
  justify-content: flex-start;
}

.calorie>.side-by-side>.num-field,.time>.side-by-side>.num-field{
  width: 50%;
  margin-right: 1vw;
}

.img {
  padding-left: 3vw;
}


/* 料理名と料理画像 */

/* 食材 */

.foodstuff-container {
  flex-direction: column;
  align-items: center;
}

.foodstuff{
  align-items: center;
}

.add-form{
  width: 100%;
  padding: 0.5vh 0.5vw;
}

.add-form>.form-btn{
  float: right;
  background: blue;
}

/* /商品の詳細など */