.main {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 150px;
}

/* 商品一覧 */

.recipe-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.recipe-contents>.title {
  font-size: 40px;
  font-weight: bold;
  color: #FF8856;
}

.recipe-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-lists>.list {
  width: 35vw;
  height: 300px;
  margin: 1vw 3vw;
  background-color: #FFEFD5;
  display: flex;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}

.recipe-lists>.list:hover {
  box-shadow: 10px 10px 15px rgba(0,0,0,0.6);
}

.recipe-img-content {
  width: 22vw;
  height: 100%;
}

.recipe-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px / 10px 0px 0px 10px ;
}

.recipe {
  background-color: white;
  color: black;
  padding: 1vw;
  width: 50%;
  border-radius: 0px 10px 10px 0px / 0px 10px 10px 0px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-name {
  font-size: 1.5vw;
  text-align: center;
  padding: 1vh 0;
  margin: 2vh 0;
  color: black;
}

.recipe-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe>.recipe-name{
  font-size: 1.5vw;
  font-weight: bold;
  color: #FF8856;
}

.recipe-info>.recipe-name{
  border-bottom: 1px solid  #FF8856;
}