/* border-bottom: 1px solid #eee; */

* {
  box-sizing: border-box;
}

.recipes-add-contents {
  background-color: #FFEFD5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}

.recipes-add-main {
  background-color: #FFEFD5;
  width: 60vw;
  min-width: 450px;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-box{
  display: flex;
  justify-content: center;
}

/* 共通 */

.title {
  width: 40%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #FF8856;
  border-bottom: 1px solid  #FF8856;
}

/* コンテナ */
.recipe-container{
  padding: 2vh 0;
  display: flex;
  justify-content: center;
}

/* 入力フォーム */
.form{
  width: 70%;
  padding: 3vh 2vw;
  border: 1px solid  #CC6633;
  border-radius:6px;
  background-color: #fff;
}

/* 必須か任意か */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* 共通項目の設定 */
.recipes-text,.select-box,.num-field,.form-btn,.unit{
  font-size: 15px;
  height: 30px;
  border-radius:6px;
}

.recipes-text,.select-box,.num-field{
  border: 1px solid #ccc;
}

/* セレクトボックス */
.select-box {
  width: 35%;
  background-color: #f5f5f5;
  padding-left: 10px;
  margin: 2vh 0;
}

/* スピンボタン */
.num-field {
  width: 15%;
  padding-left: 1vw;
  border: 1px solid #ccc;
  text-align: right;
  margin-right: 1vw;
}

/* ボタン */
.form-btn{
  width: 15%;
  margin: 2vh 0;
  background: red;
  color: #fff;
  cursor: pointer;
}

/* 項目用のパーツ */
.input-form{
  width: 100%;
  margin: 1vh 0;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
}

/* フォームの文字 */
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

/* 単位 */
.unit{
  font-size: 1vw;
  width: 20%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 縦並び */
.vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 横並び */
.side-by-side{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* /共通 */

/*----------------- 料理名と料理画像 -----------------*/

.recipes-text {
  padding:5px 0 0 5px;
  width: 50%;
  resize: none;
}

.calorie, .time{
  width: 30%;
}

.calorie>.num-field,.time>.num-field{
  width: 70%;
}

.calorie>.side-by-side, .time>.side-by-side{
  justify-content: flex-start;
}

.calorie>.side-by-side>.num-field,.time>.side-by-side>.num-field{
  width: 50%;
}

/*----------------- 料理名と料理画像 -----------------*/

/*----------------- 食材 -----------------*/

.foodstuff-container {
  flex-direction: column;
  align-items: center;
}

.foodstuff{
  align-items: center;
}

.foodstuff>.num-field{
  margin-left: 1vw;
}

.add>.form-btn{
  float: right;
  background: blue;
}

/*----------------- 食材 -----------------*/

.nested-fields{
  border-bottom: 1px solid #CC6633;
}
