.list {
  width: 100%;
  margin: 1vw 3vw;
  background-color: #ffffff;
  display: flex;
}

/* 共通項目の設定 */
.foodstuff-name,.quantity,.show>.unit{
  font-size: 1vw;
  width: 100%;
  font-weight: bold;
  line-height: 3.5vh;
}

.foodstuff-name{
  float: left;
  margin-right: 2vw;
}


.right{
  float: right;
  margin-right: 0.5vw;
}

.show{
  width: 50%;
}

.foodstuff>.side-by-side{
  width: 50%;
  justify-content: center;
}