.list {
  width: 100%;
  margin: 1vw 3vw;
  background-color: #ffffff;
  display: flex;
}

/* 入力フォーム */
.show-form{
  width: 70%;
  padding: 3vh 4vw;
  border: 1px solid  #CC6633;
  border-radius:6px;
  background-color: #fff;
}

/* 共通項目の設定 */
.foodstuff-name,.quantity,.show-unit{
  font-size: 1vw;
  width: 50%;
  font-weight: bold;
  line-height: 3.5vh;
}

.foodstuff-name{
  padding-left: 3vw;
}

.right{
  float: right;
  margin-right: 0.5vw;
}

.btn-form{
  display: flex;
  justify-content: center;
}

.edit-btn,.del-btn,.exec-btn {
  width: 20%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius:6px;
  margin: 2vh 2vw;
  border: 1px solid blue;
  text-align: center;
  background: #FF8856;
  border: 1px solid #fff;
  color: #fff;
}