.submit-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.submit-color-btn {
  width: 100%;
  background: #FF8856;
  border: 1px solid #fff;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius:6px;
}

.flash-message {
  text-align: center;
  color: red;
  font-size: 20px;
}

.btns{
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.add-user{
  text-align: center;
  margin-top: 20px;
}
